.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 $step-5;
  background-color: $dark-3;
  color: $white;
  margin-top: auto;

  h4 {
    font-weight: 900 !important;
    color: $gray-1;
  }

  p {
    margin: 0;
    margin-bottom: $step-2;
    color: $gray-3;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    gap: $step-3;
  }

  a {
    color: $gray-3;
    text-decoration: none;
    font-weight: 200;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer > div {
  padding: 20px;
  flex-basis: 100%;
}

.contacts {
  display: flex;
  gap: $step-2;
}

.contactsInfo {
  display: flex;
  flex-direction: column;
  gap: $step-2;
}

.socBlock {
  display: flex;
  flex-direction: column;
  gap: $step-2;
}

.social {
  display: flex;
  gap: $step-4;
  align-items: center;

  a {
    opacity: 0.7;
    transition: opacity 0.3s ease;

    &::after {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.vk {
  height: 50px;
}

.max {
  height: 34px;
}

.help {
  display: flex;
  flex-direction: column;
  gap: $step-2;
}

.helpLinks {
  display: flex;
  flex-direction: column;
  gap: $step-1;
}

p.copy {
  color: $gray-2;
}

.socialWrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: $step-3;

  & > img {
    height: 120px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.75;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: $step-1;
    position: relative;
  }

  .footerLogo {
    display: none;
  }

  .banner {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .banner > img {
    height: 100px;
  }
}

@media (max-width: 480px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    h4 {
      font-size: $font-size-lg;
    }
  }

  .footer > div {
    padding: 10px 5px;
  }

  .banner {
    display: flex;
    justify-content: center;
    position: static;
  }

  .social {
    gap: $step-3;
  }

  .vk {
    height: 38px;
  }

  .max {
    height: 26px;
  }
}
