.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 $step-5;
  background-color: $dark-3;
  color: $white;

  h4 {
    font-weight: 900 !important;
    color: $gray-1;
  }

  p {
    margin: 0;
    margin-bottom: $step-2;
    color: $gray-5;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    gap: $step-2;
  }

  a {
    color: $white;
    text-decoration: none;
    font-weight: 200;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer > div {
  padding: 20px;
  flex-basis: 100%;
}

.contacts {
  display: flex;
  gap: 10px;
}

.contactsInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social {
  display: flex;
  gap: $step-3;
  align-items: center;

  a {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.max,
.vk {
  height: 56px;
}

.max {
  height: 42px;
}

.social > img {
  width: 60px;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.helpLinks {
  display: flex;
  flex-direction: column;
  gap: $step-1;
}

.helpLinks > a {
  color: $white;
}

.helpLinks > a:hover {
  text-decoration: underline;
}

.footerLogo {
  display: flex;
  align-items: center;
  height: 120px;
  flex-basis: 400px !important;
  flex-shrink: 0;
  margin-top: $step-4;

  img {
    height: 120px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.75;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .footerLogo {
    display: none;
  }

  .banner {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .banner > img {
    height: 100px;
  }
}

@media (max-width: 480px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }

  .footer > div {
    padding: 10px 5px;
  }

  .banner {
    display: flex;
    justify-content: center;
    position: static;
  }
}
