.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 30px;
  height: 30px;
  padding: 5px;

  svg.swiper-navigation-icon {
    color: rgb(61, 213, 152);
  }
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: rgb(61, 213, 152);
}