.wrapper {
  display: flex;
  justify-content: center;
  column-gap: $step-9;
  row-gap: $step-5;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: $step-5;
  flex-basis: 22%;
}

.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 2px solid $white;
}

.imgWrapper {
  width: 210px;
  height: 210px;
  background-color: $white;
  border-radius: 50%;
  padding: $step-4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.round img {
  width: 90%;
}

.description {
  font-size: $font-size-xl;
  font-weight: 200;
  padding-top: $step-3;
  border-top: 1px dashed $gray-2;
  text-align: center;
  text-wrap: balance;
}

.first {
  background-color: $light-blue;

  .imgWrapper {
    transform: translate($step-2, $step-1);
  }
}

.second {
  background-color: $light-red;

  .imgWrapper {
    transform: translate(-$step-1, 0);
  }
}

.third {
  background-color: $light-orange;

  .imgWrapper {
    transform: translate($step-2, $step-1);
  }
}

.fourth {
  background-color: $light-green;

  .imgWrapper {
    transform: translate(-$step-2, -$step-1);
  }
}

@media (max-width: 1024px) {
  .mainContainer {
    gap: 20px;
  }

  .holderContainer {
    max-width: 220px;
  }

  .titleContainer {
    min-height: 140px;
    padding: 15px 10px;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }

  .holderContainer {
    max-width: 300px;
    width: 100%;
  }
}
