.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $step-5;
  justify-content: space-around;
  background-color: $white;
  padding: $step-9 $step-4;
  border-radius: $step-2;
  box-shadow: 0 0 $step-9 $gray-3;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  img {
    height: 200px;
    width: 200px;
    mix-blend-mode: multiply;
    background-color: transparent;
  }
}

@media (max-width: 756px) {
  .mainContainer {
    flex-direction: column;
  }
}
