.topSectionContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-inline: auto;
    padding: 2rem;
}

.topSectionContainer>*+* {
    margin-top: 1rem;
}

.topSectionContainer> :where(p, .buttonSection) {
    margin-top: 2rem;
}

.buttonSection {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.buttonSection>* {
    margin-top: 0;
}


.topSectionContainer> :where(.title, [class*="Title"]) {
    margin: 0;
}


.topSectionContainer p {
    font-size: 0.875rem;
    line-height: 1;
    color: #666;
    margin: 0;
}


@media (max-width: 640px) {
    .topSectionContainer {
        padding: 1rem;
    }

    .buttonSection {
        gap: 0.75rem;
    }
}