.readySection {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.readyContentContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.readyContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    gap: 10px;
}


.readyContent>img {
    display: block;
    height: 200px;

}

@media (max-width: 768px) {
    .readyContentContainer {
        flex-direction: column;
        align-items: center;
    }
}