.button {
    border-radius: 2rem;
    padding: 5px 15px;
    min-width: 100px;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
}

.buttonPrimary {
    background-color: rgb(61, 213, 152);
    color: white;
}

.buttonSecondary {
    outline: 3px solid rgb(255, 197, 66);
    outline-offset: -3px;
    color: rgb(255, 197, 66);
}

.sizeMd {
    padding: 5px 15px;
    font-size: 14px;
}

.sizeXl {
    padding: 10px 30px;
}