body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: $gray-5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  position: relative;
  text-decoration: none !important;
  transition: color 0.3s ease;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    border-bottom: 1px dashed currentColor;
    transition: width 0.3s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
