.productCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px solid $gray-3;
  background-color: $white;
}

.productCard > img {
  border-radius: 6px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0 auto;
  border: 1px solid $gray-3;
}

.productCard:hover {
  box-shadow: 3px 4px 10px $gray-3;
}

.titleContainer {
  min-height: 50px;
}

.time {
  display: flex;
  align-items: center;
  gap: $step-1;
  color: $gray-1;
}

.time > img {
  width: 30px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  margin-top: auto;
}

.description {
  font-weight: 200;
  // font-style: italic;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: $step-1;
  margin-top: auto;
}
